<a href="https://colab.research.google.com/github/rodrigoviannini/OCR/blob/master/similarity_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORTS

In [1]:
import pandas as pd

WORDS

In [2]:
list_strings_one = ['escola', 'Rio de Janeiro', 'Brasil', 'Flamengo', 'São Paulo', 'hospital', 'objeção', 'determine', 'jornal', 'alimento']

In [3]:
list_strings_two = ['escolaridade','rio_janeiro', 'brasileiro', 'flamenguista', 'são-paulino', 'hospitalizado', 'objetividade', 'determinação', 'jornalismo', 'alimentação']

In [26]:
df_similarity_analysis = pd.DataFrame({'WORD_ONE': list_strings_one, 'WORD_TWO': list_strings_two})


df_similarity_analysis['WORD_ONE'] = df_similarity_analysis['WORD_ONE'].str.lower()
df_similarity_analysis['WORD_TWO'] = df_similarity_analysis['WORD_TWO'].str.lower()

df_similarity_analysis

         WORD_ONE       WORD_TWO
0          escola   escolaridade
1  rio de janeiro    rio_janeiro
2          brasil     brasileiro
3        flamengo   flamenguista
4       são paulo    são-paulino
5        hospital  hospitalizado
6         objeção   objetividade
7       determine   determinação
8          jornal     jornalismo
9        alimento    alimentação

STRINGS FREQUENCY

In [27]:
for idx, x in enumerate(df_similarity_analysis['WORD_ONE']):
    print(len(x))
    print(idx, x)
   
    res = {i : x.count(i) for i in set(x)} 
    print(str(res))
    print()

6
0 escola
{'o': 1, 's': 1, 'c': 1, 'a': 1, 'l': 1, 'e': 1}

14
1 rio de janeiro
{'j': 1, 'o': 2, 'r': 2, 'd': 1, 'i': 2, ' ': 2, 'a': 1, 'n': 1, 'e': 2}

6
2 brasil
{'b': 1, 'r': 1, 'a': 1, 's': 1, 'i': 1, 'l': 1}

8
3 flamengo
{'o': 1, 'f': 1, 'm': 1, 'a': 1, 'n': 1, 'l': 1, 'e': 1, 'g': 1}

9
4 são paulo
{'o': 2, 'p': 1, 's': 1, ' ': 1, 'a': 1, 'u': 1, 'l': 1, 'ã': 1}

8
5 hospital
{'h': 1, 'o': 1, 'p': 1, 's': 1, 'i': 1, 'a': 1, 't': 1, 'l': 1}

7
6 objeção
{'j': 1, 'o': 2, 'e': 1, 'b': 1, 'ç': 1, 'ã': 1}

9
7 determine
{'m': 1, 'r': 1, 'd': 1, 'i': 1, 'n': 1, 't': 1, 'e': 3}

6
8 jornal
{'j': 1, 'o': 1, 'r': 1, 'a': 1, 'n': 1, 'l': 1}

8
9 alimento
{'o': 1, 'm': 1, 'a': 1, 'i': 1, 'n': 1, 't': 1, 'l': 1, 'e': 1}

CARACTER COUNT

In [28]:
list_count_one = []
for x in df_similarity_analysis['WORD_ONE']:
    # print(len(x))
    list_count_one.append(len(x))

list_count_two = []
for x in df_similarity_analysis['WORD_TWO']:
    # print(len(x))
    list_count_two.append(len(x))

df_similarity_analysis['COUNT_ONE'] = list_count_one
df_similarity_analysis['COUNT_TWO'] = list_count_two
df_similarity_analysis

         WORD_ONE       WORD_TWO  COUNT_ONE  COUNT_TWO
0          escola   escolaridade          6         12
1  rio de janeiro    rio_janeiro         14         11
2          brasil     brasileiro          6         10
3        flamengo   flamenguista          8         12
4       são paulo    são-paulino          9         11
5        hospital  hospitalizado          8         13
6         objeção   objetividade          7         12
7       determine   determinação          9         12
8          jornal     jornalismo          6         10
9        alimento    alimentação          8         11

MOST FREQUENT VALUES

In [29]:
df_similarity_analysis['COUNT_ONE'].value_counts()

6     3
8     3
9     2
14    1
7     1
Name: COUNT_ONE, dtype: int64

In [30]:
df_similarity_analysis['COUNT_ONE'].describe()

count    10.000000
mean      8.100000
std       2.378141
min       6.000000
25%       6.250000
50%       8.000000
75%       8.750000
max      14.000000
Name: COUNT_ONE, dtype: float64

In [31]:
df_similarity_analysis['COUNT_TWO'].value_counts()

12    4
11    3
10    2
13    1
Name: COUNT_TWO, dtype: int64

In [32]:
df_similarity_analysis['COUNT_TWO'].describe()

count    10.000000
mean     11.400000
std       0.966092
min      10.000000
25%      11.000000
50%      11.500000
75%      12.000000
max      13.000000
Name: COUNT_TWO, dtype: float64

JELLYFISH

INSTALL

In [33]:
!pip install jellyfish;

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: jellyfish in /usr/local/lib/python3.7/dist-packages (0.9.0)

IMPORTS

In [34]:
import jellyfish as jf

IS THERE A WORD INSIDE ANOTHER?

In [35]:
jf.match_rating_comparison('escola', 'Escolaridade')

True

HOW MANY LETTERS WERE FOUND?

In [36]:
jf.levenshtein_distance('escola', 'Escolaridade')

7

DIFF MATCH PATCH

INSTALL

In [37]:
!pip install diff-match-patch;

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: diff-match-patch in /usr/local/lib/python3.7/dist-packages (20200713)

IMPORTS

In [38]:
from diff_match_patch import diff_match_patch

FUNCTION OF SIMILARITY

In [39]:
def compute_similarity_and_diff(text1, text2):
    ''' Função que compara uma string com outra e verifica se existe similaridade.
    Function that compares one string with another and checks for similarity. '''
    
    dmp = diff_match_patch()
    dmp.Diff_Timeout = 0.0
    diff = dmp.diff_main(text1, text2, False)

    # similarity
    common_text = sum([len(txt) for op, txt in diff if op == 0])
    text_length = max(len(text1), len(text2))
    sim = common_text / text_length

    return sim, diff

In [40]:
compute_similarity_and_diff('escola', 'escolaridade')

(0.5, [(0, 'escola'), (1, 'ridade')])

In [41]:
compute_similarity_and_diff('escola', 'Escolaridade')

(0.4166666666666667, [(-1, 'e'), (1, 'E'), (0, 'scola'), (1, 'ridade')])

COLUMN OF SIMILAR WORDS

In [42]:
df_similarity_analysis

         WORD_ONE       WORD_TWO  COUNT_ONE  COUNT_TWO
0          escola   escolaridade          6         12
1  rio de janeiro    rio_janeiro         14         11
2          brasil     brasileiro          6         10
3        flamengo   flamenguista          8         12
4       são paulo    são-paulino          9         11
5        hospital  hospitalizado          8         13
6         objeção   objetividade          7         12
7       determine   determinação          9         12
8          jornal     jornalismo          6         10
9        alimento    alimentação          8         11

In [43]:
list_word_one = df_similarity_analysis['WORD_ONE']
list_word_two = df_similarity_analysis['WORD_TWO']

list_word_x0 = []
list_word_x1 = []
list_similarity = []

similarity = [(list_word_x0.append(x[0]), list_word_x1.append(x[1]), list_similarity.append(compute_similarity_and_diff(x[0], x[1]))) for x in zip(list_word_one, list_word_two)]

In [44]:
df_similarity = pd.DataFrame()
df_similarity['WORD_X0'] = list_word_x0
df_similarity['WORD_X1'] = list_word_x1
df_similarity['SIMILARITY'] = list_similarity

df_similarity

,WORD_X0,WORD_X1,SIMILARITY
0,escola,escolaridade,"(0.5, [(0, escola), (1, ridade)])"
1,rio de janeiro,rio_janeiro,"(0.7142857142857143, [(0, rio), (-1, de ), (1..."
2,brasil,brasileiro,"(0.6, [(0, brasil), (1, eiro)])"
3,flamengo,flamenguista,"(0.5833333333333334, [(0, flameng), (-1, o), (..."
4,são paulo,são-paulino,"(0.7272727272727273, [(0, são), (-1, ), (1, -..."
5,hospital,hospitalizado,"(0.6153846153846154, [(0, hospital), (1, izado)])"
6,objeção,objetividade,"(0.3333333333333333, [(0, obje), (-1, ção), (1..."
7,determine,determinação,"(0.6666666666666666, [(0, determin), (-1, e), ..."
8,jornal,jornalismo,"(0.6, [(0, jornal), (1, ismo)])"
9,alimento,alimentação,"(0.7272727272727273, [(0, aliment), (1, açã), ..."

In [45]:
list_similarity = []

for x in df_similarity['SIMILARITY']:
    similarity = x[1]
    caracter = ''
    for y in similarity:
        if 0 in y:
            caracter = caracter + str(y[1].lower())

    list_similarity.append(caracter)

df_similarity['SIMILAR_WORDS'] = list_similarity
df_similarity.to_excel('similarity.xlsx')

In [46]:
df_similarity

,WORD_X0,WORD_X1,SIMILARITY,SIMILAR_WORDS
0,escola,escolaridade,"(0.5, [(0, escola), (1, ridade)])",escola
1,rio de janeiro,rio_janeiro,"(0.7142857142857143, [(0, rio), (-1, de ), (1...",riojaneiro
2,brasil,brasileiro,"(0.6, [(0, brasil), (1, eiro)])",brasil
3,flamengo,flamenguista,"(0.5833333333333334, [(0, flameng), (-1, o), (...",flameng
4,são paulo,são-paulino,"(0.7272727272727273, [(0, são), (-1, ), (1, -...",sãopaulo
5,hospital,hospitalizado,"(0.6153846153846154, [(0, hospital), (1, izado)])",hospital
6,objeção,objetividade,"(0.3333333333333333, [(0, obje), (-1, ção), (1...",obje
7,determine,determinação,"(0.6666666666666666, [(0, determin), (-1, e), ...",determin
8,jornal,jornalismo,"(0.6, [(0, jornal), (1, ismo)])",jornal
9,alimento,alimentação,"(0.7272727272727273, [(0, aliment), (1, açã), ...",alimento